@{
    string title = ViewData["Title"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    @Html.Partial("_CssPartial")
</head>
<body>
    <!-- Navigation-->
    @Html.Partial("_NavbarPartial")
    <!-- Header-->
    @Html.Partial("_HeaderPartial", title)
    <!-- Section-->
    @RenderBody()
    <!-- Footer-->
    @Html.Partial("_FooterPartial")

    <!--Javascript Partials-->
    @Html.Partial("_ScriptPartial")
</body>
</html>
