@model IEnumerable<DAL.Entities.Concretes.Personel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoyAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TCNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogumTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EgitimDurumu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SGKNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KanGrubu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedeniHal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Askerlik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GorevYeri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedComputerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedIpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedComputerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedIpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedComputerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedIpAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoyAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TCNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogumTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EgitimDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SGKNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KanGrubu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedeniHal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Askerlik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GorevYeri.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedComputerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedIpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedComputerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedIpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedComputerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedIpAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
